requests
pdfplumber
mysql-connector-python
PyMuPDF
flask
flask-cors
docker
bcrypt
pandas
openpyxl
langdetect
sentence-transformers
werkzeug
opencv-python-headless
ollama
qdrant-client
langchain
langchain-community
langchain-ollama